# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  self-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
      with:
        run_install: false
    - uses: actions/setup-node@v6
      with:
        node-version: 22.x
        cache: 'pnpm'

    - run: pnpm install
    - run: pnpm lint

  build:
    runs-on: ${{ matrix.os }}-latest

    strategy:
      matrix:
        os: [ ubuntu, windows ]
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
      with:
        run_install: false
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - run: pnpm install
    - run: pnpm test:coverage

  eslint-versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        eslint-version: [8, 9, 10]

    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
      with:
        run_install: false
    - uses: actions/setup-node@v6
      with:
        node-version: 22.x
        cache: 'pnpm'

    - run: pnpm install
    - name: Install ESLint ${{ matrix.eslint-version }}
      run: pnpm add -D eslint@${{ matrix.eslint-version }} --ignore-workspace-root-check
    - name: Test with ESLint ${{ matrix.eslint-version }}
      run: pnpm test
